

html, body
{
	width:  100%;
	height: 100%;
}
body, h1, h2, h3, h4, h5, h6, p, form, input, textarea, select, address, th
{
	margin:  0;
	padding: 0;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size:   12px;
	line-height: 20px;
	font-weight: normal;
	font-style:  normal;
	color: rgba( 255, 255, 255, 0.5 );
	text-rendering: optimizeLegibility;
}
body
{
	min-width: 660px;
	background-color: #333;
}




a
{
	border-bottom: 1px dotted #FFF;
	color: #FFF;
	text-decoration: none;
}
a:hover
{
	border-bottom: 1px solid #FFF;
}




h1
{
	padding: 0 0 36px 6px;
	color: #FFF;
	font-size:   20px;
	line-height: 30px;
}
.pad
{
	padding: 6px;
}
.clear
{
	clear: both;
}
#page
{
	position: relative;
	/*margin: 0 auto;
	width: 960px;
	min-height: 100%;*/
	padding: 36px 60px 20px 60px;
}




.tile
{
	position: relative;
	float: left;
	margin: 0 12px 18px 0;
	height: 224px;
	overflow: hidden;
}
.tile img
{
	width:  180px;
	height: 180px;
}
.tile a, .tile a:hover
{
	border: none;
}
.tile:hover img
{
	background-color: #222;
}
.tile p, .tile .pad
{
	padding: 0 0 0 6px;
}
.tile .title
{
	color: rgba( 255, 255, 255, 0.2 );
}
.tile .author
{
	color: rgba( 255, 255, 255, 0.1 );
}
.tile:hover .title
{
	color: #FFF;
}
.tile:hover .author
{
	color: rgba( 255, 255, 255, 0.5 );
}




#about
{
	width: 372px;
}
#about .pad
{
	padding: 120px 6px 0 6px;
}




canvas
{
	position: absolute;
	top:  50%;
	left: 50%;
	margin: -300px 0 0 -300px;
	width:  600px;
	height: 600px;
	/*background-color: #000;*/
}